.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    margin-top: 20px;

}

.nav {
    display: inline-flex;
    justify-content: flex-start;
    background-color: #3b5998;

}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 10px;
    padding: 10px;
    border: 1px solid black;
    float: left;
    width: 300px;

}

.profileInfos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;


}

.profileInfo {
    min-width: 50%;
    margin-bottom: 40px;

}

.publication {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    margin: 15px 10px;
    padding: 10px;
    border: 1px solid black;

}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    margin: 15px 10px;
    padding: 10px;
    border: 1px solid black;

}

.button {
    padding: 13px 7px;
    margin: 65px;
    box-sizing: border-box;
    background: white;
    border: 1px solid #000000;
    border-radius: 15px;
    width: 95px;
    height: 54px;

}

.buttonabo {
    padding: 13px 8px;
    margin: 70px;
    box-sizing: border-box;
    background: #B22222;
    border: 3px solid black;
    border-radius: 19px;
    width: 140px;
    height: 54px;

}

.buttonabo:hover {
    background: #006400;
    cursor: pointer;
}


.button:hover {
    background: #DCDCDC;
    cursor: pointer;
}

.img {
    max-width: 200px;
    height: auto;
    border-radius: 50px;

}